<ul>
  <% @foods.each do |food| %>
    <li>GTIN/UPC code: <%= food.gtin_upc %></li>
    <li>Food Description: <%= food.description %></li>
    <li>Brand Owner: <%= food.brand_owner %></li>
    <li>Ingredients: <%= food.ingredients %></li><br><br>
  <% end %>
</ul>